/*   common shared styles */
body{
    font-family: "Open Sans", sans-serif;
    
    
}
.marry{
    font-size: 45px;
    font-weight: 800px;
    width: 121px;
    height: 61px;

}
.primary-text{
    color:#FD6E0A ;
}
.btn-primary{
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 150px;
}
.nav-title{
    
    font-size: 20px;
    font-weight: 200;
    color:#181818 ;
}

nav > ul{
    display: flex;
    align-items: center;
   
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: rgb(71, 71, 71);

}
/* header related style */
 .header{
    background-color:rgb(255, 248, 243);
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
 }
 .banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .banner-content{
    max-width: 585px;
 }
 .banner .profile-picture{
    width: 584px;
 }
 .banner-greeting{
    font-size: 45px;
    color: #181818;
    margin-bottom: 0;

 }
 .banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
 }
 .banner-description{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: left;
 }
 /* Main section styles */
main{
    width: 1140px;
    margin: 0 auto;
  
}
main section{
    margin-top: 130px;
}


 /* About section styles  */
 .about{
    padding: 130px;
    border-radius: 10px;
    background: rgb(255, 248, 243); 
    margin: 130px 0;
    
 }
 .section-title{
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin: 30px;
}
.section-description{
    color:rgb(117, 117, 117);
    font-size: 18px;
    text-align: center;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
  
}
.info-title{
    font-size: 20px;
    font-weight: 400px;

}
.info-details{
    font-size: 20px;
    font-weight: 700px;
    
}
/* ------skill section styles-----    */
#what-i-do{
    padding:30px 150px;
}
.skills-container{
    display: flex;
    gap:24px;
}
.skills{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255); 
}
.skill-description{
    font-size: 16px;
    color:rgb(117, 117, 117);
}
/* -----resume section styles----- */
.resume-column-title{
    color: rgb(71, 71, 71);
    font-size: 30px;
    font-weight: 700;
    
}
.resume-container{
    display: flex;
    gap: 50px;

}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0;
}
.resume-item-description, .resume-item-institute {
    color: rgb(117, 117, 117);
    font-size: 16px;}
    
.resume-item-title{
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-container hr{
    margin: 30px; 
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}

/* ----footer section styles----- */
footer{
    display: flex;
    background: rgb(255, 248, 243);
    margin-top: 100px;
    padding: 130px 230px;

}